<div class="ui list">
{% for cadeia in cadeias %}
    <div class="item">
        <i class="folder icon"></i>
        <div class="content">
            {{ cadeia.id }} / {{ cadeia.categoria }}
            <div class="ui list">
                {% for sentenca in cadeia.content %}
                <div class="item highlight">
                    <i class="file text icon"></i>
                    <div class="content">
                        {{ sentenca.nucleo }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
</div>