<div class="ui list">    
{% for mencao in mencoes %}
<div class="item highlight">
    <i class="file text icon"></i>
    <div class="content">
        {{ mencao.nucleo }}
    </div>
</div>
{% endfor %}
</div>