<div class="ui list">
{% for sentenca in sentencas %}
    <div class="item">
        <i class="paragraph icon"></i>
        <div class="content">
            {{ sentenca.content }}
        </div>
    </div>
{% endfor %}
</div>