<table class="ui table">
    <thead>
    <tr>
        <th>Item</th>
        <th>Legenda</th>
        <th>Formula</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td>Ci</td>
        <td>Soma de cada Classe</td>
        <td></td>
        <td>{{ kappa.ci }}</td>
    </tr>

    <tr>
        <td>Si</td>
        <td>Consenso entre os anotadores para cada relação</td>
        <td>S1=(1/(C*(C-1))) * (C1*(C1-1) + (C2*(C2-1))</td>
        <td>{{ kappa.si }}</td>
    </tr>

    <tr>
        <td>Z</td>
        <td>Somatório de Si</td>
        <td></td>
        <td>{{ kappa.z }}</td>
    </tr>

    <tr>
        <td>P(A)</td>
        <td>Consenso Total</td>
        <td>P(A)=Z/N</td>
        <td>{{ kappa.pa }}</td>
    </tr>

    <tr>
        <td>NC</td>
        <td>Número total de anotações</td>
        <td>NC=(N*C)</td>
        <td>{{ kappa.nc }}</td>
    </tr>

    <tr>
        <td>P(E)</td>
        <td>Consenso esperado por chance de anotação</td>
        <td>P(E)=((C1/NC)ˆ2) + ((C2/NC)ˆ2)</td>
        <td>{{ kappa.pe }}</td>
    </tr>

    <tr>
        <td>N</td>
        <td>Tamanho da amostra</td>
        <td></td>
        <td>{{ kappa.n }}</td>
    </tr>

    <tr>
        <td>C</td>
        <td>Quantidade de anotadores</td>
        <td></td>
        <td>{{ kappa.c }}</td>
    </tr>

    <tr>
        <td>Kappa</td>
        <td>Coeficiente de consenso</td>
        <td>Kappa=(P(A)-P(E))/(1-P(E))</td>
        <td>{{ kappa.valor }}</td>
    </tr>

    </tbody>

</table>