<table class="ui table">
    <thead>
        <tr>
            <th>C1</th>
            <th>C2</th>
            <th>Total</th>
        </tr>
    </thead>

    <tbody>
        {% for divergencia in divergencias %}
        <tr>
            <td class="positive"> {{ divergencia.c1 }} </td>
            <td class="negative"> {{ divergencia.c2 }} </td>
            <td>{{ divergencia.total }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>