<!-- 
<table class="ui table">
    <thead>
        <tr>
            <th>Ci</th>
            <th>Soma de cada classe</th>
        </tr>
        <tr>
            <th class="positive"> C1 </th>
            <th class="negative"> C2 </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="positive"> {{ kappa.ci1 }} </td>
            <td class="negative"> {{ kappa.ci2 }} </td>
        </tr>
    </tbody>
</table>
-->

<table class="ui table">
    <thead>
    <tr>
        <th>Item</th>
        <th>Legenda</th>
        <th>Formula</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td>Z</td>
        <td>Somatório de Si</td>
        <td></td>
        <td>{{ kappa.z }}</td>
    </tr>

    <tr>
        <td>P(A)</td>
        <td>Consenso Total</td>
        <td>P(A)=Z/N</td>
        <td>{{ kappa.pa | round(2) }}</td>
    </tr>

    <tr>
        <td>NC</td>
        <td>Número total de anotações</td>
        <td>NC=(N*C)</td>
        <td>{{ kappa.nc }}</td>
    </tr>

    <tr>
        <td>P(E)</td>
        <td>Consenso esperado por chance de anotação</td>
        <td>P(E)=((C1/NC)ˆ2) + ((C2/NC)ˆ2)</td>
        <td>{{ kappa.pe | round(2) }}</td>
    </tr>

    <tr>
        <td>N</td>
        <td>Tamanho da amostra</td>
        <td></td>
        <td>{{ kappa.n }}</td>
    </tr>

    <tr>
        <td>C</td>
        <td>Quantidade de anotadores</td>
        <td></td>
        <td>{{ kappa.c }}</td>
    </tr>

    <tr>
        <td>Kappa</td>
        <td>Coeficiente de consenso</td>
        <td>Kappa=(P(A)-P(E))/(1-P(E))</td>
        <td>{{ kappa.valor | round(2)  }}</td>
    </tr>

    </tbody>

    <tfoot>
        <tr>
            <td colspan="4">{% include "./interpretacao.njk" %}</td>
        </tr>
    </tfoot>
    
</table>