<table class="ui table">
      <thead>
        <tr>
          <th>Sentença</th>
          <th>C1</th>
          <th>C2</th>
          <th>S</th>
        </tr>
      </thead>
      <tbody>
        {% for par in pares %}
          <tr>
            <td>{{ par.descricao }}</td>
            <td class="positive">{{ par.c1 }}</td>
            <td class="negative">{{ par.c2 }}</td>
            <td> {{ par.s | round(2) }}</td>
          </tr>
        {% endfor %}
        
      </tbody>
      <tfoot>
        <tr>
          <th>De {{ kappa.n }}</th>
          <th> {{ kappa.ci1 }}</th>
          <th> {{ kappa.ci2 }}</th>
          <th> {{ kappa.z }}</th>
        </tr>
      </tfoot>
</table>
