{% extends "layout.njk" %}

{% block conteudo %}
<div class="ui container segment">
    <h1>Sobre</h1>
    <p>
        Trabalho final da disciplina de PLN 2016/2 PUC-RS. 
    </p>
    <h2>Integrantes</h2>
    <p>
        Rodney, e Carlos.
    </p>
    <h2>Cálculo do Kappa de Correferências</h2>
    <p>
        Baseado na similaridade entre duas cadeias de sentenças
    </p>
</div>
{% endblock %}