<div class="ui stackable menu">
  <div class="ui container">
    <div class="ui simple dropdown item">
      <i class="folder icon"></i> Arquivos
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="/arquivos/correlacoes">
           Correlações
        </a>
        <a class="item" href="/arquivos/correferencias">
           Correferências
        </a>
      </div>
    </div>
    <div class="ui simple dropdown item">
      <i class="percent icon"></i> Kappas
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item"> Correlações</a>
        <a class="item" href="/kappas/correferencias"> Correferências</a>
      </div>
    </div>
  </div>
</div>