<div class="ui stackable menu">
  <div class="ui container">
    <div class="ui simple dropdown item">
      <i class="folder icon"></i> Arquivos
      <div class="menu">
        <a class="item" href="/arquivos/correlacoes">
          <i class="grid layout icon"></i> Correlações
        </a>
        <a class="item" href="/arquivos/correferencias">
          <i class="mail icon"></i> Correferências
        </a>
      </div>
    </div>
    <div class="ui simple dropdown item">
      Kappas
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item"><i class="globe icon"></i> Correlações</a>
        <a class="item"><i class="settings icon"></i> Correferências</a>
      </div>
    </div>
  </div>
</div>