{% extends "layout.njk" %}

{% block conteudo %}
<div class="ui container">

    <div class="ui top attached tabular menu">
        <a class="active item" data-tab="correferencias">
            Correferências
        </a>
        
        <a class="item" data-tab="correlacoes">
            Correlações
        </a>
    </div>

    <div class="ui bottom attached active tab segment" data-tab="correferencias">
        <div class="ui two column divided grid">
            {% include "./tabs/correferencias.njk" %}
        </div>
    </div>
    
    <div class="ui bottom attached tab segment" data-tab="correlacoes">
        <div class="ui two column divided grid">
            {% include "./tabs/correlacoes.njk" %}
        </div>
    </div>



</div>

<script src="/textos.js"></script>

{% endblock %}