<div class="ui list">
    {% for folder in correfs %}
    <div class="item">
        <i class="folder icon"></i>
        <div class="content">
            {{ folder.name }}
        </div>
        <div class="ui divided list">
        {% for file in folder.files %}
        <a class="active item" href="{{ file.url }}">
            <i class="file text icon"></i>
            <div class="content">{{ file.name }}</div>
        </a>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>