<div class="four wide center aligned column">
    <h2> Arquivos </h2>
    <div class="ui horizontal divider"></div>
    {% include "../arquivos/pastas_correl.njk" %}
</div>

<div class="twelve wide centered column">
    <h2 class="ui center aligned header">
        <i class="percent icon"></i>
        <div class="content">
            Concordâncias
            <div class="sub header">Inclui o cálculo do Kappa das concordâncias</div>
        </div>
    </h2>
</div>