<div class="ui right ribbon label">Texto - {{ concordancia }}</div>

<div class="ui two column grid">
  <div class="column">
    {% include "../kappas/tabela_conteudo.njk" %}
  </div>

  <div class="column">
    {% include "../kappas/tabela_kappa.njk" %}
  </div>
</div>